@import '../../scss/variables';

.Display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: $base-color;
  height: 5rem;
  width: 14.4rem;
  font-weight: 200;
  color: #ffff;
  //font-size: 2rem;
  font-size: 3.5vh;
  padding: 0 0.4rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  white-space: pre-line;
  word-wrap: break-word;
}
